#case-study {
	transition: all 0.25s ease;
}
#case-study .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	/* border: 1px solid #00f; */
}
#case-study .container.wide {
	max-width: calc(100% - 320px);
}

#case-study header.container {
	/* margin: 0; */
	padding: 200px 0 40px 0;
}

#case-study .container.timeline {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}

#case-study .container.timeline .connector {
	width: 48px;
	border-left: 1px solid var(--color-sky);
	/* min-height: 80px; */
	/* min-height: 50vh; */
	align-self: stretch;
	/* margin: 0; */
	/* padding: 0; */
	padding-left: 12px;
	margin-left: 12px;
	padding-bottom: 160px;
}
#case-study .container.timeline .connector:first-of-type {
	/* min-height: 20vh; */
	min-height: 80px;
}

#case-study .container.timeline .node .node-image {
	margin-left: -19px;
	width: 13px;
	height: 15px;
	display: inline-block;
	padding-top: 2px;
}

#case-study p {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: var(--color-ink-light);
	margin-bottom: 16px;
}

#case-study .container.timeline .date {
	font-family: 'N27', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	/* font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'ss06' on; */
	line-height: 120%;
	padding-bottom: 12px;
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
}

#case-study .container.timeline h2 {
	font-family: 'SF Pro Display', system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 52px;
	line-height: 48px;
	font-weight: 600;
	max-width: 640px;
	margin-bottom: 40px;
}
#case-study .container.timeline h2 span {
	color: var(--color-ink-lighter);
	display: block;
}

#case-study .container.timeline h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

#case-study .container.timeline h3:not(:first-of-type) {
	margin-top: 20px;
}

#case-study .lede {
	font-family: 'SF Pro Display', system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 21px;
	line-height: 150%;
	color: var(--color-ink-lighter);
	max-width: 640px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
#case-study .container.wide .lede {
	font-size: 21px;
	/* line-height: 30px; */
	max-width: 720px;
	font-weight: 500;
}

#case-study .lede a {
	/* color: #212B36; */
	color: #000000;
	border: none;
}

#case-study .lede a:hover {
	color: #ff3300;
}

#case-study .lede a[href^='https://']
{
	background: url('../img/icons/external-link.svg') right center no-repeat;
	background-size: 14px auto;
	padding-right: 18px;
	display: inline-block;
	/* margin-right: 2px; */
}

#case-study .subtitle {
	font-family: 'SF Pro Display', system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	margin-bottom: 0;
	/* line-height: 55px; */
	/* font-size: 36px; */
	/* line-height: 40px; */
	color: var(--color-ink-lightest);
	display: block;
	font-weight: 500;
	/* letter-spacing: normal; */
}

#case-study h1 {
	font-family: 'SF Pro Display', system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	/* font-family: 'Sora', 'SF Pro Display', system-ui, -apple-system, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; */
	font-weight: 700;
	font-size: 80px;
	color: #000000;
	line-height: 82px;
	padding-bottom: 40px;
	letter-spacing: -0.015em;
}

#case-study article {
	/* border: 1px solid #f00; */
	width: 100%;
}
#case-study #brief .content-2col {
	display: flex;
	gap: 48px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#case-study #brief div p,
#case-study #user-research .content-2col p {
	font-size: 14px;
	color: var(--color-ink-lighter);
	line-height: 20px;
	/* margin-top: 5px; */
	margin-bottom: 10px;
}

#case-study .colorbox {
	/* min-height: 50vh; */
}

#case-study .highlight {
	background-color: #ffffff;
	color: var(--color-ink);
}

#case-study .graphic-ia {
	background: url(../img/uscis/IA.png) center 240px no-repeat;
	background-attachment: fixed;
	background-size: contain;
	height: 400px;
}

#case-study #user-research {
	background: url(../img/uscis/research-map.png) 120px 220px no-repeat;
	/* padding: 80px; */
}
#case-study #user-research .timeline:first-of-type .connector {
    /* padding: 80px 0 120px; */
} 
#case-study #user-research h3 {
	padding-top: 180px;
}
#case-study #user-research .content-2col {
	columns: auto 2;
	column-gap: 40px;
	max-width: 600px;
    padding-bottom: 120px;
}
#case-study #user-research .content-2col p {
    font-size: 14px;
	line-height: 20px;
}
