html {
  font-size: 62.5%;
}
body {
  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  background-color: rgba(247, 247, 255, .95);
  width: 100%;
  margin-bottom: 10rem;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin: 0;
  padding: 0;
  color: #43403c;
}

li {
  font-size: 1.4rem;
  line-height: 1.625;
  margin-bottom: .7rem;
}

p {
  font-size: 3.2rem;
  /* font-size: 26px; */
  /* line-height: 1.3625; */
  line-height: 1.5;
  letter-spacing: -.03em;
  margin-bottom: 3.5rem;
  max-width: 84rem;
}

a {
  color: #f30;
  text-decoration: none;
  border-bottom: .05rem solid #f30;
}

a:visited {
  color: #7b7976;
}

a[href^='https://'],
a[href^='https://'] {
  background: url('../img/icons/external-link.svg') right center no-repeat;
  background-size: 16px auto;
  padding-right: 20px;
}

a[href^='https://twitter.com'],
a[href^='https://github.com'] {
  background: none;
  padding-right: 0;
}

.hero {
  padding: 16rem 0 0 0;
}

.nav {
  /*margin-bottom: 7rem;*/
  padding: 6rem 0 1rem 0;
  display: block;
  border-bottom: none;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.nav:visited {
  color: #f30;
}
/* .nav i {
  font-size: 4.8rem;
  padding-right: 10px;
} */

footer.container {
  padding-bottom: 5rem;
  text-align: right;
}

footer a {
  font-weight: 500;
}

footer .social-btn {
  color: #d0cfce;
  display: inline-block;
}

footer .social-btn:hover {
  color: #f30;
}

footer .social-btn,
footer .social-btn:hover,
footer .social-btn .fa:hover {
  border: none;
}

footer .social-btn .fa {
  font-size: 3.6rem;
  margin-top: 15px;
  margin-right: 5px;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 50% !important;
  outline: 0 !important;
}

.caption {
  margin: 8rem 0;
}

.caption p {
  font-size: 1.4rem;
  line-height: 1.625;
  margin: 0;
  /* color: #999; */
  letter-spacing: normal;
}

.caption p strong {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
}

.caption a {
  color: #999;
  border-bottom: 1px dotted #999;
}

.col .button::before {
  content: "\2192";
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  width: 25px;
  display: inline-block;
}

.col .button:hover {
  background-color: #FFFFFF;
}

/* Colors */
.color-light-grey {
  background-color: #f7f7fe;
}
.color-light-aqua {
  background-color: #cdebeb;
}
.color-lighter-aqua {
  background-color: #e6f5f5;
}
.color-light-yellow {
  background-color: #f9f9df;
}
.color-light-moss {
  background-color: #d3ded9;
}
.color-blush {
  background-color:#e5d9de;
}


/* Structure */

.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.container p {
  /*padding-left: 5rem;*/
}
section.three-column {
  display: flex;
  padding-bottom: 5rem;
  /*flex-wrap: wrap;*/
  /*overflow: hidden;
  height: auto;*/
}
section.justify {
  justify-content: space-between;
}
section.three-column .col {
  max-width: 280px;
  flex-direction: row;
}
section.three-column .col-one-third {
  width: 300px;
  padding-right: 20px;
  flex-direction: row;
}
section.three-column .col-two-thirds {
  width: 500px;
  padding: 0 20px;
  flex-direction: row;
}
section.three-column .col img {
  max-width: 100%;
  border-radius: .5rem;
}
section.three-column .col:not(:last-child){
  padding-right: 10px;
}
section.two-column {
  display: flex;
}
section.two-column .col {
  width: calc(50%);
  flex-flow: column;
}
section.two-column .col:not(:last-child) {
  padding-right: 20px;
}
section.one-column {
  padding: 0 10rem 10rem 10rem;
}
section.one-column img {
  max-width: 100%;
  border-radius: .5rem;
  border: 1px solid #eee;
  border-top-width: 2.5rem;
  border-top-color: #ddd;
  margin-bottom: 20rem;
}
section.one-column-full {
  margin-bottom: 10rem;
}
section.one-column-full img {
  max-width: 100%;
}

@media all and (max-device-width: 640px) {
  section.one-column {
    padding: 5rem;
  }
  section.one-column img {
    border-top-width: 1.5rem;
    margin-bottom: 10rem;
  }
  section.three-column {
    display: block;
  }
  section.three-column .col {
    margin: 0 auto 10rem auto;
  }
  p {
    font-size: 1.6rem;
  }
}
