

html {
  font-size: 62.5%;
}
body {
  /* font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  background-color: rgba(247, 247, 255, .95);
  /* width: 100%; */
  margin-bottom: 10rem;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin: 0;
  padding: 0;
  color: #212B36;
}

li {
  font-size: 1.4rem;
  line-height: 1.625;
  margin-bottom: .7rem;
}

p {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 3.5rem;
  max-width: 74rem;
}

a {
  color: #f30;
  text-decoration: none;
  border-bottom: .05rem solid #f30;
}

a:visited {
  color: #7b7976;
}

a[href^='https://'] {
  background: url('../img/icons/external-link.svg') right center no-repeat;
  background-size: 16px auto;
  padding-right: 20px;
}

/* a[href^='https://twitter.com'],
a[href^='https://github.com'] {
  background: none;
  padding-right: 0;
} */

.hero {
  /* padding: 16rem 0 0 0; */
  padding-top: 12rem;
}

article.hero {
  padding-top: 8rem;
}

.hero p {
  font-family: 'AllianceNo1-Regular', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  font-size: 3rem;
  line-height: 4rem;
  color: #637381;
  max-width: 74rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.hero p a {
  /* color: #212B36; */
  color: #000000;
  border: none;
}
.hero p a:hover {
  color: #ff3300;
}

.hero p sup {
  font-family: 'Space Mono';
  font-size: 1.325rem;
  line-height: 1.325rem;
  top: -14px;
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  padding-left: 2px;
  letter-spacing: 1px;
}

.hero p,
article.hero p {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

section.feature h2 {
  font-family: 'Sora', 'Poppins', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  /* font-family: 'Sora', 'Space Grotesk', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji'; */
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 18rem;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 320px;
  letter-spacing: -0.125rem;;
}

section.feature ~ p {
  padding-top: 5rem;
}

nav {
  padding: 2rem 3rem;
  display: block;
  border-bottom: 1px solid #333333;
  width: 100%;
}
nav a {
  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  border: 0;
  background: url('../img/icons/arrow.svg') left center no-repeat;
  background-size: 6rem 0 6rem auto;
  padding-left: 10rem;
  color: #637381;
}
/* .nav {
  padding: 6.8rem 4rem 2.4rem 4rem;
  display: block;
  border-right: 1px solid #c9c9c9;
  border-bottom: 0;
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #637381;
} */

a.nav:hover {
  color: #000000;
}

.nav:visited {
  color: #637381;

}

/*
footer.container {
  padding-bottom: 5rem;
  text-align: right;
}

footer a {
  font-weight: 500;
}

footer .social-btn {
  color: #d0cfce;
  display: inline-block;
}

footer .social-btn:hover {
  color: #f30;
}

footer .social-btn,
footer .social-btn:hover,
footer .social-btn .fa:hover {
  border: none;
}

footer .social-btn .fa {
  font-size: 3.6rem;
  margin-top: 15px;
  margin-right: 5px;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 50% !important;
  outline: 0 !important;
} */

.caption {
  margin: 8rem 0;
}

.caption p {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  /* font-family: 'AllianceNo1-Regular', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji'; */
  /* font-family: 'AllianceNo1-Regular', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji'; */
  /* font-size: 1.5rem; */
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0;
  color: #637381;
  /* letter-spacing: normal; */
  max-width: 54rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.caption p code {
  font-family: 'Space Mono', monospace;
  color: #000000;
  text-transform:  uppercase;
  letter-spacing: 1px;
}

.caption h3 {
  /* font-family: 'Sora','AllianceNo1-Bold', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji'; */
  font-family: 'Poppins','AllianceNo1-Bold', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  color: #000000;
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 6rem;
  letter-spacing: -1.5px;
  display: block;
  padding-bottom: .8rem;
  /* padding-bottom: 3.2rem; */
  /* max-width: 100%; */
  max-width: 54rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga", "ss02";
}

.caption h3.alt {
  font-family: 'AllianceNo1-Bold', system-ui,-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  /* letter-spacing: 0; */
}

.caption a {
  color: #000000;
  border-bottom: 1px dotted #999;
}

#viewport {
  color: #637381;
  font-family: 'Space Mono', monospace;
  visibility: hidden;
}

.col .button::before {
  content: "\2192";
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  width: 25px;
  display: inline-block;
}

.col .button:hover {
  background-color: #FFFFFF;
}

/* Colors */
.color-light-grey {
  background-color: #f7f7fe;
}
.color-light-aqua {
  background-color: #cdebeb;
}
.color-lighter-aqua {
  background-color: #e6f5f5;
}
.color-light-yellow {
  background-color: #f9f9df;
}
.color-light-moss {
  background-color: #d3ded9;
}
.color-blush {
  background-color:#e5d9de;
}


/* Structure */

.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.container {
  /* box-sizing: border-box; */
  padding-left: 3rem;
  padding-right: 3rem;
}
.container-fluid:last-of-type {
  padding-bottom: 12rem;
}
article.container {
  padding-left:12rem;
}
.container.anchor {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

section.feature {
  padding-bottom: 24rem;
  margin-bottom: 12rem;
  /* display: flex;
  flex-flow: row nowrap;
  align-items: baseline; */
  border-bottom: 1px solid #000000;
}

section.feature:last-of-type {
  border-bottom: 0;
}

section.feature .listing {
  /* display: flex; */
  width: 100%;
}

section.feature .listing .col {
  display: block;
  width: 100%;
  min-width: 350px;
}

section.feature .listing p {
  font-size: 2rem;
  line-height: 3.2rem;
  padding: 0;
  padding-top: 1.2rem;
  margin-bottom: 0;
  width: calc(100% - 24px);
}

section.feature .listing p a {
  display: block;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

section.feature .listing p a[href^='https://'] {
  background: url('../img/icons/external-link.svg') right center no-repeat;
  background-size: 16px auto;
  padding-right: 20px;
}

section.feature .listing p a:hover {
  border-color: #ff3300;
}



section .listing code {
  width: 4.8rem;
  font-size: 1.6rem;
  display: inline-block;
  letter-spacing: .125rem;
  font-family: 'Space Mono', monospace;
  color: #454F5B;
}

section.three-column {
  display: block;
  /* flex-flow: row; */
  /* padding-bottom: 5rem; */
}

section.one-column,
section.three-column.justify .col
 {
  max-width: 100%;
  padding-bottom: 1rem;
}

/* section.justify {
  justify-content: space-evenly;
} */

section.three-column.justify.narrow .col {
  max-width: 320px;
}

section.three-column .col-one-third {
  /* width: 300px; */
  padding-right: 20px;
  flex-direction: row;
}
section.three-column .col-two-thirds {
  /* width: 500px; */
  padding: 0 20px;
  flex-direction: row;
}
section.three-column .col img {
  max-width: 100%;
  border-radius: .5rem;
}
/* section.three-column .col:not(:last-child){
  padding-right: 10px;
} */
section.two-column {
  display: flex;
}
section.two-column .col {
  width: calc(50%);
  flex-flow: column;
}
section.two-column .col:not(:last-child) {
  padding-right: 20px;
}


section.one-column img {
  max-width: 100%;
  border-radius: .5rem;
  border: 1px solid #eee;
  border-top-width: 2.5rem;
  border-top-color: #ddd;
  margin-bottom: 20rem;
}
section.one-column-full {
  margin-bottom: 10rem;
}
section.one-column-full img {
  object-fit: cover;
  width: calc(100vw - 6rem);
}

@media all and (max-device-width: 640px) {

  section.feature:last-of-type {
    border-bottom: 0;
  }

  section.one-column {
    padding: 5rem;
  }
  section.one-column img {
    border-top-width: 1.5rem;
    margin-bottom: 10rem;
  }
  section.three-column {
    display: block;
  }
  section.three-column .col {
    margin: 0 auto 10rem auto;
  }
  p {
    font-size: 1.6rem;
  }
}

@media all and (min-width: 640px) {
  nav {
    padding: 2rem 8rem;
  }
  .container {
    box-sizing: border-box;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .caption h3 {
    font-size: 7.2rem;
    line-height: 8rem;
  }
}

@media all and (min-width: 960px) {

  section.feature {
    /* padding-bottom: 24rem; */
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    border-bottom: 1px solid #000000;
  }

  section.feature .listing {
    display: flex;
  }

  section.three-column {
    display: flex;
    flex-flow: row;
    /* padding-bottom: 1rem; */
  }
  section.justify {
    justify-content: space-evenly;
  }
  section.three-column.justify .col {
    /* max-width: 280px; */
    /* padding-right: 0; */
    max-width: 33.33%;
    flex-direction: row;
  }

  section.three-column .col:not(:last-child){
    /* padding-right: 10px; */
  }

  section.one-column {
    padding: 0 10rem 10rem 10rem;
  }

  section.one-column-full img {
    object-fit: cover;
    width: calc(100vw - 16rem);
  }

}
