#case-study {
	transition: all 0.25s ease;
}
#case-study .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}
#case-study .container.wide {
	max-width: calc(100% - 320px);
}

#case-study header.container {
	/* margin: 0; */
	padding: 200px 0 40px 0;
}

#case-study .container.timeline {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}

#case-study .container.timeline .connector {
	width: 48px;
	border-left: 1px solid var(--color-sky);
	align-self: stretch;
	padding-left: 12px;
	margin-left: 12px;
	padding-bottom: 160px;
}

#case-study .container.timeline .connector:first-of-type {
	min-height: 40px;
}

#case-study .container.timeline .node .node-image {
	margin-left: -19px;
	width: 13px;
	height: 15px;
	display: inline-block;
	padding-top: 2px;
}

#case-study p {
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: var(--color-ink-light);
	margin-bottom: 16px;
	font-family: 'AllianceNo1-Regular', system-ui, -apple-system, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#case-study .container.timeline .date {
	font-family: 'N27', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	/* font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'ss06' on; */
	line-height: 120%;
	padding-bottom: 12px;
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
}

#case-study .container.timeline h2 {
	font-family: 'Poppins', 'SF Pro Display', system-ui, -apple-system,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	font-size: 48px;
	line-height: 54px;
	font-weight: 600;
	max-width: 640px;
	margin-bottom: 40px;
	letter-spacing: -.02em;
}
#case-study .container.timeline h2 span {
	color: var(--color-ink-lighter);
	display: block;
}

#case-study .container.timeline h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

#case-study .container.timeline h3:not(:first-of-type) {
	margin-top: 20px;
}

#case-study .lede {
	font-family: 'AllianceNo1-Regular', 'SF Pro Display', system-ui,
		-apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 20px;
	line-height: 150%;
	color: var(--color-ink-lighter);
	max-width: 640px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
#case-study .container.wide .lede {
	font-size: 21px;
	/* line-height: 30px; */
	max-width: 720px;
	font-weight: 500;
}

#case-study .lede a {
	/* color: #212B36; */
	color: #000000;
	border-bottom: 1px dotted var(--color-sky);
	text-decoration: none;
}

#case-study .lede a:hover {
	color: var(--color-red-orange);
}

/* #case-study .lede a[href^='https://']
{
	background: url('../img/icons/external-link.svg') right center no-repeat;
	background-size: 14px auto;
	padding-right: 18px;
	display: inline-block;
} */

#case-study .subtitle {
	font-family: 'Poppins', 'SF Pro Display', system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	margin-bottom: 0;
	/* line-height: 55px; */
	/* font-size: 36px; */
	/* line-height: 40px; */
	color: var(--color-ink-lightest);
	display: block;
	font-weight: 600;
	/* letter-spacing: normal; */
}

#case-study h1 {
	font-family: 'Poppins', 'SF Pro Display', system-ui, -apple-system,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	/* font-family: 'Poppins', 'SF Pro Display', system-ui, -apple-system, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; */
	font-weight: 700;
	font-size: 80px;
	color: #000000;
	line-height: 82px;
	padding-bottom: 40px;
	letter-spacing: -0.015em;
}

#case-study article {
	/* border: 1px solid #f00; */
	width: 100%;
}
#case-study #brief .content-2col {
	display: flex;
	gap: 48px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#case-study #brief div p {
	font-size: 14px;
	color: var(--color-ink-lighter);
	line-height: 20px;
	/* margin-top: 5px; */
	margin-bottom: 10px;
}

#case-study .colorbox {
	/* min-height: 50vh; */
}

#case-study .highlight {
	background-color: #ffffff;
	color: var(--color-ink);
}

#case-study .graphic-ia {
	background: url(../img/uscis/IA.png) center 240px no-repeat;
	background-attachment: fixed;
	background-size: contain;
	height: 400px;
}

#case-study #user-research {
	background: url(../img/uscis/research-map.png) 100px 280px no-repeat;
	/* padding: 160px 0; */
	/* padding-bottom: 320px; */
	min-height: 600px;
	position: relative;
}

#case-study #user-research .lede {
	padding-bottom: 40px;
}
#case-study #user-research summary {
	/* font-family: 'AllianceNo1-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-size: 15px;
	line-height: 20px;
	/* /* font-weight: 500; */
	/* margin-top: 5px; */
	margin-bottom: 10px;
	max-width: 400px !important;
	letter-spacing: .02em;
	color: var(--color-ink-light)
}

#case-study #user-research h3 + p,
#case-study #user-research details {
	max-width: 400px !important;
	/* padding-bottom: 120px; */
	font-size: 14px;
	line-height: 150%;
	color: var(--color-ink-lighter);
	/* margin-top: 5px; */
	margin-bottom: 10px;
}

#case-study #user-research aside {
	position: absolute;
	top: 500px;
	right: 0;
	/* border: 1px solid #f00; */
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.7);
	color: var(--color-ink-lighter);
	padding: 4px 16px;
	font-family: 'N27', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#case-study .proto-personas {
	background-color: var(--color-sky);
}
#case-study .proto-personas .container {
	max-width: 100vw;
}

#case-study .img-cover img {
	width: calc(100vw - 160px);
	min-width: 960px;
	object-fit: cover;
}

#case-study .proto-personas .container img {
	width: 100vw;
	object-fit: contain;
	/* border: 1px solid #f00; */
}

#case-study details > summary {
	list-style: none;
	margin-left: -24px;
	padding-left: 24px;
	background: url(../img/icons/icon-plus.svg) 0 3px no-repeat;
}

#case-study details > summary::-webkit-details-marker {
	display: none;
}

#case-study details > summary:hover {
	cursor: pointer;
	color: var(--color-ink-lighter);
}

#case-study summary,
#case-study details {
	color: var(--color-ink);
	font-size: 14px;
	/* letter-spacing: .02em; */
	line-height: 20px;
	/* margin-bottom: 8px; */
}
#case-study details {
	padding-bottom: 0;
	/* border: 1px solid #f00; */
}
#case-study details[open] {
	padding-bottom: 16px;
}
#case-study details[open]:last-of-type {
	padding-bottom: 80px;
}

#case-study details[open] > summary {
	background: url(../img/icons/icon-minus.svg) 0 3px no-repeat;
}
#case-study .key-findings {
	flex-direction: column;
}
#case-study .key-findings h2 {
	display: block;
	padding-top: 40px;
}
#case-study .key-findings .lede {
	padding-bottom: 160px;
}

#case-study .key-findings section ul {
	display: flex;
	padding: 0 0 40px 0;
	align-items: flex-start;
	gap: 24px;
	/* align-self: stretch; */
	list-style: none;
	min-height: 280px;
}
#case-study .key-findings ul li {
	list-style: none;
	/* padding: 24px 32px; */
	/* background-color: var(--color-tertiary-gray-01); */
	display: flex;
	padding: 24px 0;
	flex-direction: column;
	/* align-items: flex-start; */
	/* align-items: stretch; */
	/* gap: 12px; */
	flex: 1 0 0;
	flex-grow: 1;
	align-self: stretch;
	justify-content: space-between;
}

#case-study .key-findings ul li p {
	color: var(--color-ink);
	font-size: 16px;
	font-weight: 500;
	line-height: 150%; /* 21px */
	margin-bottom: 12px;
	padding-right: 24px;
	padding-bottom: 24px;
	margin-right: 40px;
	/* align-items: flex-start; */
	/* align-self: stretch; */
	/* flex-grow: 1; */
	/* gap: 10px; */
	min-height: 120px;
	border-right: 1px dashed var(--color-ink-lightest);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
#case-study .caption {
	font-size: 12px !important;
	font-weight: 400 !important;
	margin: 0;
	color: var(--color-ink-lighter);
	line-height: 120%;
	display: block;
	padding: 12px 0;
}
#case-study .key-findings blockquote {
	display: flex;
	/* padding-right: 0px; */
	flex-direction: column;
	/* align-items: flex-start; */
	align-self: stretch;
	margin: 0;
}
#case-study .key-findings ul li img {
	/* margin-top: 24px; */
	align-self: flex-end;
	flex-grow: 0;
}

#case-study #design-sprint article:first-of-type {
	padding-bottom: 120px;
}

#case-study .design-sprint {
	background: url(../img/uscis/eligibility-04.png) right 0 no-repeat;
	background-size: contain;
	padding-bottom: 160px;
}

#case-study .design-sprint > div {
	padding: 160px 0;
	/* margin-bottom: 80px; */
}

#case-study .uscis-sketches {
	background: url(../img/uscis/uscis-sketches.png) center center no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

#case-study .container.mobile-screens {
	margin: 0 auto;
}

#case-study .mobile-screens ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 160px 0 40px 0;
}
#case-study .mobile-screens li {
	height: 80vh;
	min-height: 480px;
	flex-grow: 1;
	align-self: stretch;
	justify-content: space-between;
	position: relative;
	padding-top: 24px;
}
#case-study .mobile-screens li img {
	object-fit: contain;
	height: inherit;
	min-height: inherit;
}
#case-study .mobile-screens li aside {
	position: absolute;
	max-width: 200px;
	border-left: 1px dashed var(--color-red-orange);
	padding: 0 0 80px 24px;
}
#case-study .mobile-screens li aside p {
	font-size: 12px;
	line-height: 17px;
	color: var(--color-ink);
	/* font-family: 'Georgia', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#case-study .mobile-screens li:first-of-type aside {
	/* padding: 0 0 80px 24px; */
	top: -80px;
	left: 80px;
	/* border-left: 1px dashed var(--color-red-orange); */
}
#case-study .mobile-screens li:nth-of-type(2) aside {
	top: -80px;
	left: 80px;
}
#case-study .mobile-screens li:nth-of-type(3) aside {
	top: -80px;
	left: 80px;
}
