body, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono', monospace;
}
header {
  height: 120px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  text-align: left;
  z-index: 1000;
  background-color: #fcf6ed;
  /*border: 1px solid #f00;*/
}
nav {
  height: 60px;
  background-color: #272727;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
header h1 {
  padding-left: 12px;
  padding-top: 6px;
  color: #ffffff;
  font: 400 1em/1 'Overpass Mono', monospace;
  letter-spacing: .05em;
}
header .container p {
  padding: 36px 12px 16px 12px;
  font-size: 12px;
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .1em;
}
section {
  position: relative;
  font-size: 12px;
  color: #272727;
  padding: 10px 0 120px 0;
  z-index: 10;
}
.wrapper {
  margin: 0 auto;
  padding: 0;
  background-color: #fcf6ed;
  position: relative;
  text-align: center;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
  /*border: 1px solid #f00;*/
  overflow: hidden;
}
.container-fluid {
  width: 100%;
  background-color: #fcf6ed;
  position: relative;
  padding-top: 120px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
section ul.flex-container {
  max-width: 640px;
  margin-left: 320px;
  list-style: none;
}
section ul.flex-container li img {
  max-width: 135px;
  margin: 0 12px 12px 12px;
}
section ul.flex-container li.large {
  flex-grow: 2;
  align-self: flex-end;
}
section ul.flex-container li.large img {
  max-width: calc(100% - 26px);
  margin: 0 12px 12px 12px;
}
section ul.flex-container li p {
  margin: 0 12px;
  width: 135px;
  margin-bottom: 45px;
  color: #272727;
}
section ul.flex-container li.large p {
  width: calc(100% - 26px);
}
.section-title {
  width: 296px;
  margin: 0 12px;
  border-top: 1px solid #272727;
  font-size: 12px;
  font-weight: normal;
  color: #272727;
  float: left;
  padding-top: 12px;
}
