.eyebrow {
	color: var(--color-ink-lighter);
	font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.0325em;
	text-transform: uppercase;
	grid-column-start: 2;
	padding-top: 160px;
	padding-bottom: 16px;
}
h2 + .eyebrow {
	padding-top: 24px;
}

.hero .lede {
	padding-bottom: 32px;
}

.hero .eyebrow:not(:first-of-type) {
	padding-top: 160px;
}
.hero h2.text-2xl {
	font-family: 'Instrument Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 80px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: normal;
}
.hero h2 span {
	display: block;
	font-family: 'Instrument Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	/* font-weight: 600; */
	font-size: 44px;
	line-height: 100%;
}

@media screen and (min-width: 800px) {
}
