nav {
	position: relative;
	background-color: var(--color-sky-lighter);
}
main.hero {
	padding-top: 120px;
	padding-bottom: 80px;
}
.container .hero .lede sup {
	font-weight: 400;
	font-feature-settings: 'ss04' on;
	font-size: 1rem;
	line-height: 1rem;
	/* top: -16px; */
	/* display: inline-block; */
	padding: 0;
	margin: 0;
	padding-left: 4px;
	letter-spacing: 1px;
}
.container .hero .lede a {
	color: var(--color-ink);
	text-decoration: none;
	font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
.container .hero .lede a sup {
	color: var(--color-ink-lightest);
}
.container .hero .lede a:hover,
.container .hero .lede a:hover sup {
	color: var(--color-red);
}

.container .featured {
	display: flex;
	padding: 120px 28px 0 28px;
	gap: 24px 0;
	flex-wrap: wrap;
}
.container .featured article {
	display: flex;
	/* width: calc(33.33vw - 20px); */
	width: calc(50vw - 28px);
	flex-direction: column;
	gap: 24px;
	flex-shrink: 1;
	border-left: 1px dotted var(--color-sky-dark);
}

.container .featured article.blank {
	/* width: calc(33.33vw - 20px); */
	/* border: none; */
	display: none;
}
.container .featured article header {
	display: flex;
	/* padding-left: 0px; */
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: flex-start; */
	gap: 24px;
	align-self: stretch;
	padding-left: 16px;
	min-height: 76px;
}
.container .featured article header > p {
	color: var(--color-ink-lightest);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; /* 150% */
	font-feature-settings: 'ss04' on;
	/* font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace; */
}
.container .featured article header h3 {
	font-weight: 400;
	color: var(--color-ink-lightest);
	font-size: 24px;
	line-height: 28px;
}
.container .featured article.wide .thumbnail {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: flex-start; */
	align-self: stretch;
}
.container .featured article .thumbnail img {
	/* width: calc(33.33vw - 20px); */
	width: 100%;
	object-fit: cover;
}
.container .featured article.wide .thumbnail img {
	/* width: calc(66.67vw - 40px); */
	width: 100%;
	object-fit: cover;
}

.container .featured article .caption {
	display: flex;
	padding-left: 16px;
	padding-right: 40px;
	flex-direction: column;
	/* justify-content: center; */
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	color: var(--color-ink-lighter);
	font-family: Roboto Serif;
	font-weight: 400;
	max-width: 400px;
	min-height: 56px;

	font-size: 14px;
	line-height: 20px; /* 140% */
}
.container .featured article .caption a {
	font-family: Roboto Serif;
	display: block;
	color: var(--color-ink-lighter);
	text-decoration: none;
}
.container .featured article .caption a:hover {
	color: var(--color-ink);
}

@media screen and (min-width: 800px) {
	.container .featured {
		/* display: flex; */
		padding: 120px 28px 80px 28px;
		/* gap: 24px 0; */
		/* flex-wrap: wrap; */
	}
	.container .featured article .caption {
		font-size: 20px;
		line-height: 28px; /* 140% */
	}
	.container .featured article {
		/* display: flex; */
		width: calc(33.33vw - 20px);
		/* flex-direction: column; */
		/* gap: 24px; */
		/* flex-shrink: 1; */
		border-left: 1px dotted var(--color-sky-dark);
	}
	.container .featured article.blank {
		width: calc(33.33vw - 20px);
		border: none;
		display: flex;
	}
	.container .featured article .thumbnail img {
		width: calc(33.33vw - 20px);
		/* object-fit: cover; */
	}
	.container .featured article.wide .thumbnail img {
		width: calc(66.67vw - 40px);
		/* object-fit: cover; */
	}
}
